# SPDX-License-Identifier: BSD 2-Clause

# System hostname
#
# Default: freebsd
#
# Can also be set via nuageinit meta-data.
#
autobsd_hostname="freebeastie"

# System FQDN
#
# Default: freebsd
#
# Alias for autobsd_hostname with lower precedence.
#
# autobsd_fqdn="freebeastie.local"

# Boot disks
#
# Default: the first found disk with the lowest index for UFS, or all found disks on ZFS
#
# autobsd_disks="da0 da1"

# Boot file system
#
# Valid value: ufs (default) | zfs
#
autobsd_filesystem="ufs"

# ZFS vdev type
#
# Valid value: stripe (default) | mirror | raid10 | raidz1 | raidz2 | raidz3
#
# See: ZFSBOOT_VDEV_TYPE on bsdinstall(8)
#
# autobsd_zfsraid="stripe"

# Swap partition size
#
# Default: no swap partition
#
autobsd_swapsize="2G"

# Prefer pkgbase installation type to distribution sets
#
# Valid value: YES | NO (default)
#
# Only for FreeBSD 15.1 or above.
#
autobsd_pkgbase="YES"

# Install additional firmware with fwget
#
# Valid value: YES (default) | NO
#
autobsd_fwget="YES"

# Outbound network interface
#
# Default: the first found network interface
#
# autobsd_netif="vtnet0"

# IP configuration
#
# Default: DHCP
#
# autobsd_ifconfig="inet 10.20.30.40/24"

# Default gateway
#
# Default: none
#
# autobsd_defaultrouter="10.20.30.1"

# DNS servers
#
# Default: none
#
# autobsd_dns_servers="1.1.1.1 8.8.8.8 9.9.9.9"

# DNS domain
#
# Default: none
#
# Only parsed when autobsd_dns_servers is defined.
#
# autobsd_dns_domain="home.lab"

# DNS search
#
# Default: none
#
# Only parsed when autobsd_dns_servers is defined.
#
# autobsd_dns_search="home.lab"

# DNS sortlist
#
# Default: none
#
# Only parsed when autobsd_dns_servers is defined.
#
# autobsd_dns_sortlist="10.9.1.0/255.255.240.0 10.9.0.0/255.255.0.0"

# DNS options
#
# Default: none
#
# Only parsed when autobsd_dns_servers is defined.
#
# autobsd_dns_options="edns0 rotate"

# vim:ft=sh:
